- semantic_form_for(@set_name, :url => "/sets", :method => :post) do |f|
  #name_definition
    =render :partial => '/common/definitions', :locals => {:topic => "set-name"}
  = f.input :name, :as => :string, :label => false, :hint => I18n.t('form.set-name'), :required => false, :wrapper_html => {:class => 'width60'}
  .pad_from_top

  #description_definition
    =render :partial => '/common/definitions', :locals => {:topic => "set-name-description"}
  = f.input :description, :as => :text, :label => false, :hint => I18n.t('form.set-description'), :required => false, :wrapper_html => {:class => 'width60'}
  .pad_from_top

    = f.submit I18n.t('actions.save'), :class => 'positive'