.table
  .row
    = content_tag('i', '', :class => 'icon-resize-vertical top-left')
    .span2
      %strong form
    .span2
      %strong pronunciation
    .span2
      %strong language
    .span1 &nbsp
  - idiom.translations.each do |translation|
    - next if Language.where(:id => translation.language_id, :enabled => true).empty?
    = display_translation_as_table_row translation, "", set_id