%table.table
  %thead
    %tr
      %th form
      %th pronunciation
      %th language
      %th &nbsp;
  - idiom.translations.each do |translation|
    - next if Language.where(:id => translation.language_id, :enabled => true).empty?
    %tbody
      = display_translation_as_table_row translation, "", set_id