$j("#set_name_#{@i}").html("#{html_safe(escape_javascript(render :partial => 'sets/ajax_set_name_form', :locals => {:set_name => @set_name, :i => @i}))}");
$j("#set form").append("#{escape_javascript(render :partial => 'sets/add_set_name_div', :locals => {:i => @i})}");
fieldset = $j("#set form fieldset").detach();
fieldset.appendTo("#set form");