.container
  = page_header t('titles.set-create.title'), t('titles.set-create.subtitle')

  .content.well
    #create_set
      =render :partial => 'create_set_form', :locals => {:set_name => @set_name}