=render :partial => '/header', :locals => {:title => t('set.create.title'), :subtitle => t('set.create.subtitle')}
%section{:class => ["panel"]}
  #create_set{:class => ['left'], :style => "width:100%"}
    //=render :partial => 'create_set_form', :locals => {:set_name => @set_name}
  .pad