=render :partial => '/header', :locals => {:title => t('titles.set-next-chapter.title', :chapter => @next_chapter), :subtitle => t('titles.set-next-chapter.subtitle')}

#advance_button
  .panel
    .button{:class => "centre big_button"}
      = link_to "Advance", advance_chapter_language_set_path(params[:language_id], params[:id], :review_mode => params[:review_mode]), :class => 'positive', :id => 'do_advance', :method => :post
    .pad_from_top

#next_due
  .panel
    %p= "Your next review in this set is due in #{distance_of_time_in_words(Time.now, @next_due_time, true)}"
    .pad_from_top
:javascript
  $j("html").everyTime(#{@refresh_in_ms}, function(i) {
    location.reload();
  }, 0);