.container
  = page_header t('titles.set-select.title'), t('titles.set-select.subtitle')

  .well
    = link_to t('actions.cancel'), terms_path, :class => 'btn btn-danger pull-right'
    = display_sets_for_selection @sets, @idiom_id, "select set"