$j("#user_sets").html("#{escape_javascript(render :partial => '/sets/user_sets', :locals => {:sets => @user_sets, :language => @language})}")
$j("#available_sets").html("#{escape_javascript(render :partial => '/sets/available_sets', :locals => {:sets => @sets, :language => @language})}")