- Idiom::translations_in_idiom_and_language(idiom.id, language.id).each do |translation|
  - if show_pronunciation
    = display_translation_for_review translation
  - else
    = display_translation_for_review_no_pronunciation translation