#translation.panel.well.centre.force-stripe.inline-block.align-translation{:id => "#{translation.id}"}
  %p.size-translation= translation.form
  %hr
  %p.size-translation= translation.pronunciation
  = display_translation_audio translation
