- words = {}
- translation.pronunciation.split(' ').each do |word|
  .panel.well.centre.force-stripe.inline-block.align-pronunciation-guidance
    %p.pronunciation.size-translation= word
    %hr
    %p.pronunciation.size-translation= (get_pronunciation_expansion word).html_safe
