#translation{:id => translation.id}
  %span#form= translation.form
  - unless translation.pronunciation.empty?
    %span#pronunciation= "(#{translation.pronunciation})"
  %span#language.subscript.contrast_faint= translation.language
  %span{:style => "min-width: 0.3em; display:inline-block"}