#translation{:id => @i.to_i + 1}
  = link_to I18n.t('translation.create.labels.add_translation'), add_translation_terms_path(:i => @i.to_i + 1), :class => 'neutral', :method => :get, :remote => :true
  .pad_from_top
  .pad_from_top