#reveal_button.centre
  .row
    = reveal_button

:javascript
  $j('#do_reveal').click(function(event)
  {
    var end = new Date();
    var start_time = document.getElementById("start_time") ;
    var duration = document.getElementById("duration") ;
    var card_answer = document.getElementById("term_typed_answer") ;
    var user_answer = document.getElementById("answer_form") ;
    var is_new = document.getElementById("is_new") ;


    duration.value = end - start_time.value;


    if (user_answer)
    {
      if (card_answer.value != user_answer.value)
      {
        //tell the user their answer didn't match
        $j("#answer_result").text("#{t('text.incorrect-notice')}");
        $j("#do_typing").click();
      }

      $j("#answer_result").show();
    }


    $j("#reveal_button").hide();
    $j("#review_mode").hide();
    $j("#review_content").hide();

    $j("#pronunciation_guidance").removeClass("hidden")
    $j("#review_buttons").removeClass("hidden")
    $j("#back_of_card").removeClass("hidden")
  });
