%p= link_to t('actions.review-record-answer'), '#', :class => 'btn btn-large btn-primary', :method => :post, :id => "do_results"
:javascript
  $j('#do_results').click(function(event) 
  {
    var end = new Date();
    var start_time = document.getElementById("start_time") ;
    var duration = document.getElementById("duration") ;
    elapsed = end - start_time.value;

    var link = "#{record_review_language_set_term_path()}";
    link = link + "?duration=" + duration.value ;
    link = link + "&elapsed=" + elapsed ;
    link = link + "&review_mode=" + "#{review_mode}" ;

    link = link + review_type_query_string('listening') ;
    link = link + review_type_query_string('reading') ;
    link = link + review_type_query_string('speaking') ;
    link = link + review_type_query_string('typing') ;
    link = link + review_type_query_string('translating') ;
    link = link + review_type_query_string('writing') ;

    $j('#do_results').attr('href', link);
  });
