$("#translation_#{@i}").html("#{html_safe(escape_javascript(render :partial => 'terms/ajax_translation_form', :locals => {:translation => @translation, :i => @i}))}");
$("#translations form").append("#{escape_javascript(render :partial => 'terms/add_translation_div', :locals => {:i => @i})}");
fieldset = $("#translations form fieldset").detach();
fieldset.appendTo("#translations form");