$j("#translation_#{@i}").html("#{escape_javascript(render :partial => 'terms/create_translation_section', :locals => {:translation => @translation, :i => @i.to_i, :languages => @languages})}");
$j("#translation_#{@i}").after("#{escape_javascript(render :partial => 'terms/add_translation_div', :locals => {:i => @i.to_i + 1})}");