.container
  = page_header t('titles.term-index.title'), t('titles.term-index.subtitle')

  - if current_user.in_edit_mode?
    #translations.row_fluid.span7.well
      = show_search_results @translations, @q, @page, @limit, (current_user.in_edit_mode? ? 'edit' : 'view')
    .row_fluid.span3.well
      = terms_menu
  - else
    #translations.content.well
      = show_search_results @translations, @q, @page, @limit, (current_user.in_edit_mode? ? 'edit' : 'view')