=render :partial => '/header', :locals => {:title => t('titles.deck-create.title'), :subtitle => t('titles.deck-create.subtitle')}
%section{:class => ["panel"]}
  #create_deck{:class => ['left'], :style => "width:100%"}
    =render :partial => 'create_deck_form', :locals => {:deck => @deck}
  .pad