=render :partial => '/header', :locals => {:title => t('titles.deck-upcoming.title'), :subtitle => t('titles.deck-upcoming.subtitle')}
=render :partial => '/deck/upcoming', :locals => {:upcoming_cards => @upcoming_cards, :pronunciation_side => @deck.pronunciation_side}