=render :partial => '/header', :locals => {:title => t('deck.upcoming.title'), :subtitle => t('deck.upcoming.subtitle')}
=render :partial => '/deck/upcoming', :locals => {:upcoming_cards => @upcoming_cards, :pronunciation_side => @deck.pronunciation_side}