=render :partial => '/header', :locals => {:title => t('deck.edit.title'), :subtitle => t('deck.edit.subtitle')}
%section{:class => ["panel"]}
  #create_deck{:class => ['left'], :style => "width:100%"}
    =render :partial => 'edit_deck_form', :locals => {:deck => @deck}
  .pad