body {
  width: 320px !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1em;
  /*  background-color: $page_background;*/
  font-family: 'Times New Roman', serif; }

.review-button-left {
  float: none !important; }

.review-button-right {
  float: none !important; }
