body
{
  width: 300px !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: $font_size_large ;
  background-color: $page_background;

  font-family: 'Times New Roman', serif;
}