$font_size_large: 1.0em;

body
{
  width: 320px !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: $font_size_large ;

  font-family: 'Times New Roman', serif;
}

// APP SPECIFIC

.review-button-left
{
  float: none !important ;
}

.review-button-right
{
  margin-top: 1em ;
  float: none !important ;
}