- if user_languages.empty?
  .panel
    %p= t('text.no-user-languages')
- user_languages.each do |user_language|
  #language{:id => user_language.language_id}
    .panel
      =render :partial => '/languages/language', :locals => {:language => user_language.language}
      %span.subscript
        [
        = link_to t('actions.stop-learning'), unlearn_user_language_path(user_language.language_id), :method => :post, :id => "language_#{user_language.language_id}_stop_learning"
        ]
