- if languages.empty?
  = information t('text.no-user-languages') if user == true
  = information t('text.no-languages-remaining') if user == false
- else
  #ul.thumbnails
    - languages.each do |language|
      %li.span5#language{:id => language.id}
        %h3
          = display_language language, action