- if languages.empty?
  .panel
    %p= t('text.no-languages-remaining')
- languages.each do |language|
  #hello
  #language{:id => language.id}
    .panel
      =render :partial => '/languages/language', :locals => {:language => language}
      %span.subscript
        [
        = link_to t('actions.start-learning'), learn_user_language_path(language.id), :method => :post, :id => "language_#{language.id}_start_learning"
        ]
