- if @user_languages.empty?
  #language{:class => 'panel'}
    %p= t('text.user-has-no-languages')
    .pad_from_top
    %p= link_to t('actions.start-learning-emphatic'), user_languages_path, :class => 'contrast', :id => "add_language"
- @user_languages.each do |user_language|
  #language{:id => user_language.language_id, :class => 'panel'}
    %p.minor_title
      =render :partial => '/languages/language', :locals => {:language => user_language.language}
    .pad_from_top
    .pad