.container
  = page_header t('titles.language-index.title'), t('titles.language-index.subtitle')
  #user_goals.content
    = user_languages(@languages, {:show_can_change_button => 'false'})
    = languages_user_can_learn @languages

:javascript
  $j(document).ready(function() {
    $j.ajax({ url: "/languages/user_languages?user_action=stop" });
    $j.ajax({ url: "/languages/remaining_languages?user_action=start" });
  });