.container
  = page_header on_the_spot_edit @language, :name
  #sets.content
    = user_sets
    = available_sets

:javascript
  $j(document).ready(function() {
    $j.ajax({ url: "/languages/#{params[:id]}/sets/user_sets" });
  });