.container
  =render :partial => '/common/page_header', :locals => {:title => t('titles.user-home.title'), :subtitle => t('titles.user-home.subtitle')}
  .content
    #user_languages.well.span5
      =render :partial => '/parts/user_languages_header'
      - if @user_languages.empty?
        =render :partial => '/alert/no_languages'
      - else
        =render :partial => '/languages/user_languages', :locals => {:languages => @languages}
    #user_decks.well.span5
      =render :partial => '/parts/user_decks_header'
      =render :partial => '/deck/user_decks', :locals => {:decks => @decks}