=render :partial => '/header', :locals => {:title => t('titles.user-home.title', :email => ""), :subtitle => t('titles.user-home.subtitle')}
#user_languages{:class => "section_left", :style => "width: 50%;"}
  %p.minor_title
    %span= t('text.header-languages')
    %span.subscript
      [
      =link_to t('actions.add'), user_languages_path, :class => 'contrast'
      ]
  =render :partial => '/languages/user_languages', :locals => {:languages => @languages}
#user_decks{:class => "section_right", :style => "width: 50%;"}
  %p.minor_title 
    %span= t('text.header-things')
    %span.subscript
      [
      =link_to t('actions.new-deck'), '/deck/create', :method => :post, :class => 'contrast'
      ]
  =render :partial => '/deck/user_decks', :locals => {:decks => @decks}