.panel.well.force-stripe.inline-block
  = show_card_front_large card
  = show_card_audio card
  = show_card_pronunciation_on_front card, pronunciation_side
  = show_back_of_card card, pronunciation_side