=render :partial => '/header', :locals => {:title => t('card.reveal.title'), :subtitle => t('card.reveal.subtitle')}
%section{:class => "panel"}
  %p= @card.front
  - unless @card.back == ""
    .section_break
    %p= @card.back
  .pad
.pad_from_top
%section{:class=> "panel"}
  .button
    = link_to "I knew the answer", review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'yes', :review_start => @review_start, :reveal => @reveal), :class => 'positive', :method => :post
    = link_to "I did not know the answer", review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'no', :review_start => @review_start, :reveal => @reveal), :class => 'negative', :method => :post
  .pad