=render :partial => '/header', :locals => {:title => t('card.show.title'), :subtitle => t('card.show.subtitle')}
%section{:class => ["panel"]}
  %p.giant= @card.front
  - if @card.audio.file?
    =render :partial => '/audio_controls', :locals => {:audio_url => @card.audio.url}
  - unless @card.back == ""
    .section_break
    %p.giant= @card.back
  - unless @card.pronunciation == ""
    .section_break
    .pad_from_top
    %p.centre pronunciation
    %p.giant= @card.pronunciation
  .pad

