= render :partial => '/common/app_menu'
= render :partial => '/common/auth_menu'
%header
  %p.title= title
  %p.subtitle= subtitle
  .section_break
  .flash
    - flash.each do |key, value|
      =render :partial => '/common/notice', :locals => {:keys => key, :value => value}