- if user_signed_in?
  %ul.nav
    %li= link_to(t('actions.home'), user_index_path)
    %li= link_to t('actions.languages'), languages_path
    %li= link_to t('actions.sets'), sets_path
    %li= link_to t('actions.terms'), terms_path