- id ||= nil
- value ||= false
- with_group ||= false

- if with_group
  .flash
    %p{:class => [keys], :id => id}
      %span= "#{value}".html_safe
- else
  %p{:class => [keys], :id => id}
    %span= "#{value}".html_safe