.container
  .hero-unit
    %h1 hello, 你好, hola
    %p 
      PushFlashBang is a place for me to try language learning augmented with technology. You're welcome to use whatever tools are on the site.
      It's all free and may even help!
    %p There is currently support for:
    %ul
      - @languages.each do |language|
        %li
          %p= language.name
    = link_to I18n.t('actions.sign-in'), new_user_session_path, :class => 'btn btn-primary btn-large'
    = link_to I18n.t('actions.sign-up'), new_user_registration_path, :class => 'btn btn-large'