!!! html
%html
  %head
    %title PushFlashBang
    = include_stylesheets :common
    = include_javascripts :production
    = csrf_meta_tag
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body
    = yield